@{
    ViewBag.Title = "videos";
    Layout = "~/Views/Shared/_Layoutchicken.cshtml";
}

	<div class="body">
		<div>
			<div class="header">
			<ul>
					<li>
						<a href="~/Admin/Add">Add Items</a>
					</li>
					<li>
						<a href="~/Admin/EditItem">Edit Items</a>
					</li>
					<li>
						<a href="~/Admin/DelItem">Delete Items</a>
					</li>
					<li>
						<a href="~/Admin/ViewAllItems">Show All Recipes</a>
					</li>
					@*<li>
						<a href="~/Admin/search">Search</a>
					</li>*@
					
                  <li>
                      <a href="~/Admin/Gallary">Gallary</a>
                  </li>
				</ul>
			</div>
			<div class="body">
				<div id="content">
					<div>
						<div>
							<ul>
								<li>

									<video width="700" height="700" controls>
  <source src="~/myVideos/Chicken Biryani Ii Bajias Cooking [Yutube.PK].mp4" type="video/mp4">
</video>
									
								
								</li>
								<li>
									
																	<video width="700" height="700" controls>
  <source src="~/myVideos/Pakistani Cooking Show (In Urdu).mp4" type="video/mp4">
</video>
									
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div>
			<div>
                
				<h3>Cooking Video</h3>
				<a href="~/Videos/VideosAdmin"><img src="~/images/cooking-video.png" alt="Image"></a>
				<span>Vegetable &amp; Rice Topping</span>
			</div>
		</div>
	</div>
	
</body>
</html>
